@tailwind base;
@tailwind components;
@tailwind utilities;


html ,body {
    overflow-x: hidden;
     scroll-behavior: smooth;
  

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* use in homePage */
.homepage_bg {
  background: url('../src//assets/Images/bghome.svg');
}
